import(sp,methods)
importFrom("graphics", "abline", "legend", "par", "points","lines","boxplot","barplot")
importFrom("stats", "as.formula", "cor", "cov", "formula", "glm",
             "mahalanobis", "predict.glm", "supsmu", "terms",
             "wilcox.test","princomp","plogis","model.frame","model.matrix",
           "terms.formula","poly","quantile","sd","cor.test","coefficients",
           "lm","optim","density","median")
importFrom("utils", "combn", "data", "read.csv","object.size","install.packages","remove.packages")
importFrom("parallel", "makeForkCluster", "makePSOCKcluster", "detectCores","clusterExport","clusterEvalQ","stopCluster","parLapply")
importFrom("raster",  "raster", "brick","cellFromXY","ncell","trim","extract","extent","as.data.frame","predict",
           "writeRaster","calc","addLayer","setZ","extension","sampleRandom","values","subset","update","getValues")
exportClasses(sdmdata, sdmFormula,sdmEvaluate,sdmModels,sdmCorrelativeMethod)
exportMethods(sdmData,sdm,sdmSetting,evaluates,roc,getRoc,add,getmethodNames,getmethod,getModelInfo,
              getEvaluation,read.sdm,write.sdm,installAll,gui,getVarImp,ensemble,subset)
exportPattern("^[[:alpha:]]+")